@model Que1.Models.Product

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => "Siddheshwar Kurhe")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RollNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => "210940320117")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Center)
        </dt>

        <dd>
            @Html.DisplayFor(model => "Kharghar")
        </dd>

   
    </dl>
</div>